@charset "UTF-8";

@keyframes mark{
    50%{
        border-right: transparent;
    }

}



*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde:rgb(216, 0, 0);
    --sombra-verde:rgb(211, 30, 30);
}

body{
    background-color: black;
    color:white;
    overflow-x: hidden;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(75, 73, 73);
}

.nav-all{
    display: none;
}

nav > h1{
    font-size: 25px;
}

nav > h1 > span{
    color: var(--verde);
    text-shadow: 1px 1px 1px var(--sombra-verde);
}

nav > i{
    font-size: 25px;
}

.container-img{
    display: flex;
    justify-content: center;
    overflow: visible;
}

.imagem-perfil{
    background-image: url(../img/samurai-pfp-3413.png);
    background-position: top center;
    background-size: cover;
    border-radius: 40%;


    box-shadow: 0px 0px 50px var(--sombra-verde);
    margin-top: 30px;
    height: 350px;
    width: 270px;
    margin-top: 30px;
    z-index: 2;
    
}

.descricao-perfil{
    margin-top: 10px;
    
}

.text{
    padding: 20px;
}

.descricao-perfil > .text > h1{
    font-size: 25px; 
}

.descricao-perfil > .text > #digitar{
    font-size: 15px;
}

.descricao-perfil > .text > #digitar > span{
    position: relative;
    white-space: nowrap;
}

.descricao-perfil > .text > #digitar > span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    border-left: 2px solid white;

    animation: animate 6s steps(24) infinite;
    

}


.descricao-perfil > .text > h1> span{
    text-shadow: 0px 0px 6px var(--sombra-verde);
    color: var(--verde);
}

.menu-social{
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.menu-social > a > i{
    font-size: 20px;
    color: var(--verde);
    transition: 0.4s;
}

.menu-social > a > i:hover{
    transform: translateY(-2px);
    text-shadow: 1px 1px 20px var(--sombra-verde);
    transition: 0.4s;
    cursor: pointer;
}

.button{
    display: none;
}

.skins{
    margin-top: 20px;
    background-color: #161515;
    padding: 10px;
}

.text-skins{
    display: flex;
    justify-content: center;
}

.container-skins{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(154, 48, 24, 0.819);
    padding: 10px;
    border-radius: 10px;

}

.container-skins > .item-skin{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: top;
   color: aliceblue;

    border-radius: 10px;
    width: 80vw;
    height: 50vh;
    transition: 0.6s ease;
    margin: 5px;

    
}

.container-skins > .item-skin > .img-container{
    background-color: aliceblue;
    background-image: url(../img/css-removebg-preview.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;

    border-top-left-radius:10px;
    border-top-right-radius: 10px;
    margin-bottom: 5%;
    width: 100%;
    height: 60%;
}

.container-skins > .item-skin:hover{
    background-color: rgb(255, 252, 252);
    transition: 0.4s ease;
}

.servicos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;

    padding: 10px;
}

 .servicos-titulo {
    margin-top: 10px;
    background-color: black;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    
}

.text-servicos{
    width: 300px;
    border-radius: 10px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(154, 48, 24);
    line-height: 25px;

    transition: 0.20s;
}

.text-servicos:hover{
    background-color: black;
    border: 1px solid rgb(154, 48, 24);
    color: rgb(154, 48, 24);

    transition: 0.20s;
}

.text-servicos  > p > span{
    font-weight: bold;
}









@keyframes animate{
    40%, 60%{
        left: 100%;
    }

    100%{
        left: 0%;
    }
}




